.book-edit-form {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 600px;
  margin: 30px auto;
}

.book-edit-form.dark-mode {
  background-color: #333;
  color: #fff;
}

.book-edit-form h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.7em;
}

.book-edit-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-edit-form form div {
  margin-bottom: 10px;
  width: 100%;
}

.book-edit-form form label {
  margin-right: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.book-edit-form form input {
  padding: 10px;
  margin-top: 5px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  font-size: 1em;
}

.book-edit-form .button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.book-edit-form form button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
  margin: 5px 10px;
}

.book-edit-form form button.save {
  background-color: #4CAF50;
  color: white;
}

.book-edit-form form button.save:hover {
  background-color: #45a049;
}

.book-edit-form form button.cancel {
  background-color: #f44336;
  color: white;
}

.book-edit-form form button.cancel:hover {
  background-color: #d32f2f;
}

@media (max-width: 900px) {
  .book-edit-form {
      padding: 10px;
  }

  .book-edit-form form {
      align-items: center;
  }

  .book-edit-form form div {
      width: 100%;
  }

  .book-edit-form form input {
      width: 100%;
  }

  .book-edit-form .button-container {
      flex-direction: column;
  }

  .book-edit-form form button {
      width: 100%;
      margin: 5px 0;
  }
}

.dark-mode .book-edit-form form label {
  color: #fff;
}
